<!--
 Copyright European Organization for Nuclear Research (CERN)

 Licensed under the Apache License, Version 2.0 (the "License");
 You may not use this file except in compliance with the License.
 You may obtain a copy of the License at
 http://www.apache.org/licenses/LICENSE-2.0

 Authors:
 - Thomas Beermann, <thomas.beermann@cern.ch>, 2014-2015
 - Mario Lassnig, <mario.lassnig@cern.ch>, 2014
-->

$var title: Rule
$var script: <script src="/static/rule.js"></script>

<div id="result" class="row" data-equalizer>

  <div id="metadata" class="columns panel">
    <h4>Rule metadata</h4>
    <div id="loading">
      <div class="row"><div class="small-1 small-centered columns">
          <img src="/media/spinner.gif">
        </div>
      </div>
    </div>
    <table id="t_metadata" style="word-wrap: break-word;">
    </table>
  </div>

  <div id="locks">
  </div>
</div>

<div id="problem_details" style="margin: 2em;"></div>
